<div class="container-fluid mx-3">
<h2>Edit User</h2>
<%= form_for @user do |f|  %>
<div class="field py-2 w-50">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="field py-2 w-50">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  
    <div class="field py-2 w-50">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="field py-2 w-50">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <%= f.submit class: "btn btn-dark my-3" %>
  <% end %>
</div>