<!DOCTYPE html>
<html>
  <head>
    <title>JobListingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% if user_signed_in? %>
    <meta name="current-user-id" content="<%= current_user.id %>">
  <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/a8ab816068.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  </head>

  <body>
    <%= render partial: 'shared/navbar', locals: { user: @user } %>
    <div class="container-fluid my-4">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
